@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

@keyframes growShrink {
  0% { transform: scale(1); opacity: 1;}
  100% { transform: scale(1.02); opacity: 0.9;}
}
@keyframes click_ani_01 {
  0% {
    transform: scale(30%);
    opacity: 0;
  }
  40% {
    transform: scale(30%);
    opacity: 0;
  }
  45% {
    transform: scale(100%);
    opacity: 0.5;
  }
  60% {
    transform: scale(350%);
    opacity: 0;
  }
  100% {
    transform: scale(30%);
    opacity: 0;
  }
}
@keyframes click_ani_02 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes click_ani_03 {
  0% {
    transform: scale(130%);
  }
  40% {
    transform: scale(100%);
  }
  60% {
    transform: scale(100%);
  }
  100% {
    transform: scale(130%);
  }
}
@keyframes header_ani_01_01 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes header_ani_02_01 {
  0% {
    flex: 0% 0 0;
  }
  100% {
    flex: 100% 0 0;
  }
}
@keyframes header_ani_02_02 {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header_ani_02_03 {
  0% {
    transform: translateX(-110%);
  }
  10% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(110%);
  }
}
@keyframes tail_ani_02_01 {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tail_ani_02_02 {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes tail_ani_02_02_02 {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tail_ani_02_03 {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(3840px * 1.5);
  height: calc(3840px * 1.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

@keyframes expandCircle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  .popup-content{
    // width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.3s 1s ease-in-out;
    z-index: 2;
    position: relative;
  }
  &.show{
    transition: all 0s ease-in-out;
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    .overlay{
      animation: expandCircle 1s ease-out forwards;
    }
    .popup-content{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .close{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100px;
    //background: #000;
    width: 600px;
  }
}


.swiper-slide *{
  will-change: auto;
}
img{vertical-align: top;}
