@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

#nav{
  position: absolute;
  z-index: 998;
  left: 35px;
  height: calc(100% - 322px);
  background-color: rgba(0,0,0,.6);
  width: calc(2160px - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  &.show{
    opacity: 1;
    visibility: visible;
  }
  
}
.menu-container {
  position: relative;
  width: 1874px;
  height: 1874px;
  transform-origin: center;
  touch-action: none;
  margin-top: 200px;
}

.wheel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(#{$image-path}/celltrion/menu.png) no-repeat 0 0;
  touch-action: none;
}



.home-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 345px;
  height: 345px;
  //background: url(/assets/images/home.png) no-repeat 50% 50%;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-item {
  position: absolute;
  width: 272px;
  height: 280px;
  cursor: pointer;
  //background-color: #000;
}
.menu-item-1{
  left: 731px;
  top: 126px;
  width: 472px;
}
.menu-item-2{
  left: 1230px;
  top: 493px;
  width: 430px;
}
.menu-item-3{
  left: 1160px;
    top: 1052px;
  width: 572px;
  height: 330px;
}
.menu-item-4{    left: 756px;
  top: 1433px;    width: 382px;}
.menu-item-5{left: 180px;top: 1052px;width: 472px;}
.menu-item-6{left: 180px;top: 493px;width:472px}


.item-inner {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}


#biosimilar-kiosk{
  #nav{
    left: 32px;
    width: 2128px;
    height: calc(100% - 349px);
  }
  .wheel{
    background: url(#{$image-path}/biosimilar/menu.png) no-repeat 0 0;
  }
  
}
