@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.page-3{
    overflow: hidden;
    height: 3490px;
    position: relative;
    .c{
        position: absolute;
        left: 750px;
        top: 1010px;
        z-index: 1;
    }
    .item2{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .item2{
        z-index: 3;
        position: relative;
        background-color: rgba(#fff,.7);
        .bd{
            position: absolute;
            left: 322px;
            top: -6px;
        }
        .line{
            position: absolute;
            left: 50%;
            margin-left: -120px;
            top: 0;
        }
        .time{
            position: absolute;
            opacity: 0;
            transition: all 0.5s;
            transform: translateY(100px);

        }
        .t1{
            left: 477px;
            top: 39px;
            transition-delay: 0s;
        }
        .t2{
            left: 471px;
            top: 436px;
            transition-delay: 0.25s;
        }
        .t3{
            left: 276px;
            top: 809px;
            transition-delay: 0.5s;
        }
        .t4{
            left: 471px;
            top: 1218px;
            transition-delay: 0.75s;
        }
        .t5{
            left: 227px;
            top: 1616px;
            transition-delay: 1s;
        }
        .t6{
            left: 472px;
            top: 2038px;
            transition-delay: 1.25s;
        }
    }
}

.swiper-slide-active{
    .item2{
        .time{
            opacity: 1;
            transform: translateY(0);
        }
    }
}