@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

@keyframes flash {
0%, 100% {
    opacity: 1;
}
50% {
    opacity: 0;
}
}

.page-1{
    position: relative;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
    }
    .item1,
    .item2,
    .item3,
    .item4{
        position: relative;
        z-index: 2;
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 0.5s ease-in-out;
    }
    .item5{
        position: relative;
        z-index: 2;
        .page1-click{
            position: absolute;
            right: 185PX;
            top: 118px;
            > div{
                position: relative;
            }
            cursor: pointer;
        }
        .hand{
            position: absolute;
            right: -72px;
            bottom: -76px;
            animation: flash 1s infinite;
        }
    }
}

.swiper-slide-active{
    .page-1{
        .item1,
        .item2,
        .item3,
        .item4,
        .item5{
            opacity: 1;
            
            
        }
    }
}