<div class="page7 page">
    <div class="content">
        <div class="item1"><img src="assets/biosimilar/07/01.png" alt=""></div>
        <div class="item2">
            <img src="assets/biosimilar/07/02.png" alt="">
            <div class="item5"><img src="assets/biosimilar/07/05.png" alt=""></div>

            <div class="item3">
                <div>
                    <img src="assets/biosimilar/07/04.png" alt="">
                    <button class="open-popup btns" data-popup="popup-page7-01"></button>
                    <div class="hand" data-popup="popup-page7-01">
                        <div class="tev_home_hand_box">
                            <div class="tev_home_hand_box_first">
                                <img src="/assets/biosimilar/07/hand.png" alt="">
                            </div>
                            <div class="tev_home_hand_box_second">
                                <img src="/assets/biosimilar/05/!.png" alt="">
                            </div>
                            <div class="tev_home_hand_box_third">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="item4">
            <img src="assets/biosimilar/07/03.png" alt="">
        </div>
    </div>
    <div class="annotation">
        * Patient numbers were estimated based on the proportional distribution of approved indications and the corresponding annual mg required per patient.<br>
        Analysis based on IQVIA MIDAS volume data, EU5, 2013–2024. Total mg sold per INN calculated; price per mg derived to estimate number of patients treatable per year. Comparison made under budget<br>pre- and post-biosimilar launch to estimate additional patients treated.
        <br>
        Reference 1. Data on file. Celltrion.
    </div>
</div>