<div class="page3 page">
    <div class="content">
        <div class="item1"><img src="assets/biosimilar/03/01.png" alt=""></div>
        <div class="item2"><img src="assets/biosimilar/03/02.png" alt=""></div>
        <div class="item3"><img src="assets/biosimilar/03/03.png" alt=""></div>
        <div class="item4"><img src="assets/biosimilar/03/04.png" alt=""></div>
        <div class="item5"><img src="assets/biosimilar/03/05.png" alt=""></div>
        <div class="item5"><img src="assets/biosimilar/03/06.png" alt=""></div>
    </div>

    <div class="annotation">
        Reference 1. European Medicine Agency. Biosimilars in the EU. Information guide for healthcare professionals. Available at https://www.ema.europa.eu/en/documents/leaflet/biosimilars-eu-information-<br>guide-healthcare-professionals_en.pdf.Accessed on Apr. 2025.

    </div>
</div>