<div class="page2 page">
    <div class="content">
        <div class="item1"><img src="assets/biosimilar/02/01.png" alt=""></div>
        <div class="item2"><img src="assets/biosimilar/02/02.png" alt="">
            <div class="click-1 open-popup" data-popup="popup1"></div>
            <div class="click-2 open-popup" data-popup="popup2"></div>
            <div class="click-3 open-popup" data-popup="popup3"></div>
            <div class="hand hand-1 open-popup" data-popup="popup1"><img src="assets/biosimilar/02/hand-01.png" alt=""></div>
            <div class="hand hand-2 open-popup" data-popup="popup2"><img src="assets/biosimilar/02/hand-02.png" alt=""></div>
            <div class="hand hand-3 open-popup" data-popup="popup3"><img src="assets/biosimilar/02/hand-03.png" alt=""></div>
        </div>
    </div>
    <div class="annotation">
        References 1. European Medicines Agency. Biosimilar medicines: Overview. Available at https://www.ema.europa.eu/en/human-regulatory-overview/biosimilar-medicines-overview Accessed on Apr. 2025. 2. <br>
        Food and Drug Adminisration. Overview for Health Care Professionals Available at https://www.fda.gov/drugs/biosimilars/overview-health-care-professionals  Accessed on Apr. 2025. 3. NHS England. Biosimilar <br>
        medicines Available at https://www.england.nhs.uk/medicines-2/biosimilar-medicines/ Accessed on Apr. 2025. 4. European Medicine Agency. Biosimilars in the EU. Information guide for healthcare professionals.<br>
         Available at https://www.ema.europa.eu/en/documents/leaflet/biosimilars-eu-information-guide-healthcare-professionals_en.pdf. Accessed on Apr. 2025.
    </div>
</div>