<div class="page5 page">
    <div class="content">
        <div class="item1"><img src="assets/biosimilar/05/01.png" alt=""></div>
        <div class="item2"><img src="assets/biosimilar/05/02.png" alt=""></div>
        <div class="item3">
            <img src="assets/biosimilar/05/03.png" alt="">
            <button class="open-popup btns" data-popup="popup-page5-01"></button>
            <div class="hand" data-popup="popup-page5-01">
                <div class="tev_home_hand_box">
                    <div class="tev_home_hand_box_first">
                        <img src="/assets/biosimilar/05/hand.png" alt="">
                    </div>
                    <div class="tev_home_hand_box_second">
                        <img src="/assets/biosimilar/05/!.png" alt="">
                    </div>
                    <div class="tev_home_hand_box_third">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="annotation">
        Reference 1. European Medicine Agency. Biosimilars in the EU. Information guide for healthcare professionals. Available at https://www.ema.europa.eu/en/documents/leaflet/biosimilars-eu-information-<br>guide-healthcare-professionals_en.pdf.Accessed on Apr. 2025.
    </div>
</div>