<div class="page4 page">
    <div class="content">
        <div class="item1"><img src="assets/biosimilar/04/01.png" alt=""></div>
        <div class="item2"><img src="assets/biosimilar/04/02.png" alt=""></div>
        <div class="item3"><img src="assets/biosimilar/04/03.png" alt="">
            <div class="click-map open-popup" data-popup="popup-page4-01"></div>
            <div class="click open-popup" data-popup="popup-page4-01"></div>
        </div>
        <div class="item4"><img src="assets/biosimilar/04/04.png" alt="">
            <div class="click-map open-popup" data-popup="popup-page4-02"></div>
            <div class="click open-popup" data-popup="popup-page4-02"></div>
        </div>
        <div class="item5"><img src="assets/biosimilar/04/05.png" alt="">
            <div class="click-map open-popup" data-popup="popup-page4-03"></div>
            <div class="click open-popup" data-popup="popup-page4-03"></div>
        </div>
    </div>
    <div class="annotation">
        References 1. Weise M, Kurki P, Wolff-Holz E, Bielsky MC, Schneider CK. Biosimilars: the science of extrapolation. Blood. 2014;124(22):3191-3196. doi:10.1182/blood-2014-06-583617. 2. European Medicine <br>Agency. Biosimilars in the EU. Information guide for healthcare professionals. Available at https://www.ema.europa.eu/en/documents/leaflet/biosimilars-eu-information-guide-healthcare-professionals_<br>en.pdf.Accessed on Apr. 2025.
    </div>
</div>
