<div class="page4 page">
    <div class="text-1"><img src="./assets/celltrion/04/title.png" alt=""></div>

    <div class="img1">
        <img src="./assets/celltrion/04/img_01.png" alt="" class="open-popup" data-popup="barcode1">
    </div>
    <div class="img2">
        <img src="./assets/celltrion/04/img_02.png" alt="">
        <div class="img-box img-box1 open-popup" data-popup="barcode2"><img src="./assets/celltrion/04/box_01.png" alt=""></div>
        <div class="img-box img-box2 open-popup" data-popup="barcode3"><img src="./assets/celltrion/04/box_02.png" alt=""></div>
        <div class="img-box img-box3 open-popup" data-popup="barcode4"><img src="./assets/celltrion/04/box_03.png" alt=""></div>
        <div class="img-box img-box4 open-popup" data-popup="barcode5"><img src="./assets/celltrion/04/box_04.png" alt=""></div>
    </div>
    <div class="img3">
        <img src="./assets/celltrion/04/img_03.png" alt="">
    </div>
    
    <div class="annotation"><b>References</b> <b>1.</b> Celltrion website. <b>2.</b> Celltrion, data on file.</div>
</div>