<div class="page1 page active">
    <div class="text-1"><img src="./assets/celltrion/01/img_03.png" alt=""></div>
    <div class="text-2"><img src="./assets/celltrion/01/img_04.png" alt=""></div>
    <div class="text-3"><img src="./assets/celltrion/01/img_05.png" alt=""></div>
    <div class="text-4"><img src="./assets/celltrion/01/img_06.png" alt=""></div>
    <div class="text-5"><img src="./assets/celltrion/01/img_07.png" alt="">
        <button class="open-popup" data-popup="popup1"></button>
        <div class="hand">
            <div class="tev_home_hand_box">
                <div class="tev_home_hand_box_first">
                    <img src="/assets/celltrion/01/hand.png" alt="">
                </div>
                <div class="tev_home_hand_box_second">
                    <img src="/assets/celltrion/01/!.png" alt="">
                </div>
                <div class="tev_home_hand_box_third">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-6">
        <img src="./assets/celltrion/01/img_08.png" alt="">
    </div>
    <div class="background"><img src="./assets/celltrion/01/bg.png" alt=""></div>
</div>