<div class="page2 page">
    <div class="text-1"><img src="./assets/celltrion/02/title.png" alt=""></div>
    <div class="boxgroup">
        <div class="box box1"><img src="./assets/celltrion/02/box_01.png" alt=""></div>
        <div class="box box2"><img src="./assets/celltrion/02/box_02.png" alt=""></div>
        <div class="box box3"><img src="./assets/celltrion/02/box_03.png" alt=""></div>
        <div class="box box4"><img src="./assets/celltrion/02/box_04.png" alt=""></div>
        <div class="box box5"><img src="./assets/celltrion/02/box_05.png" alt=""></div>
        <div class="box box6"><img src="./assets/celltrion/02/box_06.png" alt=""></div>
        <div class="box box7"><img src="./assets/celltrion/02/box_07.png" alt=""></div>
        <div class="box box8"><img src="./assets/celltrion/02/box_08.png" alt=""></div>
        <div class="box box9"><img src="./assets/celltrion/02/box_09.png" alt=""></div>
        <div class="box box10"><img src="./assets/celltrion/02/box_10.png" alt=""></div>
        <div class="box box11"><img src="./assets/celltrion/02/box_11.png" alt=""></div>
        <div class="box box12"><img src="./assets/celltrion/02/box_12.png" alt=""></div>
        <div class="box box13"><img src="./assets/celltrion/02/box_13.png" alt=""></div>
        <div class="box box14"><img src="./assets/celltrion/02/box_14.png" alt=""></div>
        <div class="box box15"><img src="./assets/celltrion/02/box_15.png" alt=""></div>
    </div>

    <div class="annotation">
        <b>References</b> <b>1.</b> Excluding our 1,000Lx2 single use (Plant 1 Facility) <b>2.</b> Source: 2023/24 Celltrion ESG Report <b>3.</b> Estimated number of patients reached = annual sales<br>
        volume / annual doses administered (Source: annual sales volume from IQVIA MIDAS 2023Q3 MAT, annual doses administered based on WHO Defined Daily Dose)
    </div>
</div>