<div class="page7 page">
    <div class="text-1"><img src="./assets/celltrion/07/title.png" alt=""></div>
    <div class="box1">
        <div class="item1 item"><img src="./assets/celltrion/07/img_01.png" alt=""></div>
        <div class="item2 item open-popup" data-popup="popup7"><img src="./assets/celltrion/07/point.png" alt=""></div>
    </div>
    <div class="box2">
        <img src="./assets/celltrion/07/img_02.png" alt="">
    </div>
    <div class="c"><img src="./assets/celltrion/07/c.png" alt=""></div>
    <div class="annotation"><b>References</b> <b>1.</b> https://www.spglobal.com/esg/csa/yearbook/2025/ranking/index#esgModalBox_Biotechnology</div>
</div>

