<div class="page5 page">
    <div class="text-1"><img src="./assets/celltrion/05/title.png" alt=""></div>
    <div class="fadeUp">
        <div class="line"><img src="./assets/celltrion/05/line.png" alt=""></div>
        <div class="unit unit-1"><img src="./assets/celltrion/05/unit-1.png" alt=""></div>
        <div class="unit unit-2"><img src="./assets/celltrion/05/unit-2.png" alt=""></div>
        <div class="unit unit-3"><img src="./assets/celltrion/05/unit-3.png" alt=""></div>
        <div class="unit unit-4"><img src="./assets/celltrion/05/unit-4.png" alt=""></div>
        <div class="unit unit-5"><img src="./assets/celltrion/05/unit-5.png" alt=""></div>
        <div class="unit unit-6"><img src="./assets/celltrion/05/unit-6.png" alt=""></div>
    </div>
    <div class="c"><img src="./assets/celltrion/05/c.png" alt=""></div>
    <div class="annotation">Source: 2023/24 Celltrion ESG Report</div>
</div>