<div class="page6 page">
    <div class="text-1"><img src="./assets/celltrion/06/title.png" alt=""></div>
    <div class="area">
        <img src="./assets/celltrion/06/img_01.png" alt="">
        <div class="area-marker-container">
            <div class="area-marker-container-inner">
                <img src="./assets/celltrion/06/back.png" alt="">
                <div class="area-marker1"><img src="./assets/celltrion/06/1.png" alt=""></div>
                <div class="area-marker2"><img src="./assets/celltrion/06/2.png" alt=""></div>
            </div>
        </div>
        <!-- <button class="area-btn-1"></button>
        <button class="area-btn-2"></button> -->
        <div class="p1"><img src="./assets/celltrion/06/bora.png" alt=""></div>
        <div class="p2"><img src="./assets/celltrion/06/green.png" alt=""></div>
    </div>
    <div class="img"><img src="./assets/celltrion/06/img_02.png" alt=""></div>
    <div class="c"><img src="./assets/celltrion/06/c.png" alt=""></div>
    <div class="annotation"><b>References</b> <b>1.</b> Celltrion website. <b>2.</b> Celltrion, data on file.</div>
</div>

<script>
   const pairs = [
  { marker: document.querySelector('.area-marker1'), p: document.querySelector('.p1') },
  { marker: document.querySelector('.area-marker2'), p: document.querySelector('.p2') }
];

let currentIndex = 0;

function emphasize() {
  const activePair = pairs[currentIndex];
  const inactivePair = pairs[1 - currentIndex];

  activePair.marker.classList.add('active');
  activePair.p.classList.add('active');
  inactivePair.marker.classList.remove('active');
  inactivePair.p.classList.remove('active');

  setTimeout(() => {
    activePair.marker.classList.remove('active');
    activePair.p.classList.remove('active');

    currentIndex = 1 - currentIndex;
    setTimeout(() => {
      emphasize();
    }, 2000); // 2초 대기
  }, 2000); // 2초 깜빡 애니메이션
}

emphasize();




</script>