<div class="page-4">
    <div class="item1"><img src="/assets/page4/img_01.png" alt=""></div>
    <div class="item2">
        <img src="/assets/page4/img_02_01.png" alt="">
        <button class="btn1" data-img="1"></button>
        <button class="btn2" data-img="2"></button>
        <button class="btn3" data-img="3"></button>
    </div>
    <div class="item3"><img src="/assets/page4/img_02_02.png" alt="">
        <button class="btn4" data-img="4"></button>
        <button class="btn5" data-img="5"></button>
        <button class="btn6" data-img="6"></button>
    </div>
    <div class="item4"><img src="/assets/page4/img_02_03.png" alt="">
        <button class="btn7" data-img="7"></button>
        <button class="btn8" data-img="8"></button>
        <button class="btn9" data-img="9"></button>
        <button class="btn10" data-img="10"></button>
        <button class="btn11" data-img="11"></button>
    </div>
    <div class="top"><img src="/assets/page4/top.png" alt=""></div>
</div>