<div class="page-1">
    <div class="space" style="height: 1572px;"></div>
    <div class="item1"><img src="/assets/page1/img_01.png" alt=""></div>
    <div class="item2"><img src="/assets/page1/img_02.png" alt=""></div>
    <div class="item3"><img src="/assets/page1/img_03.png" alt=""></div>
    <div class="item4"><img src="/assets/page1/img_04.png" alt=""></div>
    <div class="item5">
        <img src="/assets/page1/img_05.png" alt="">
        <div class="page1-click">
            <div class="page-1-click">
                <img src="/assets/page1/page-click.png" alt="">
                <span class="hand">
                    <img src="/assets/page1/hand.png" alt="">
                </span>
            </div>
        </div>
    </div>
    <div class="bg"><img src="/assets/page1/bg.png" alt=""></div>
</div>