<div class="page-5">
    <div class="item1"><img src="/assets/page5/img_01.png" alt=""></div>
    <div class="item2">
        <img src="/assets/page5/img_02.png" alt="">
        <div class="time time1"><img src="/assets/page5/1.png" alt=""></div>
        <div class="time time2"><img src="/assets/page5/2.png" alt=""></div>
        <div class="time time3"><img src="/assets/page5/3.png" alt=""></div>
        <div class="time time4"><img src="/assets/page5/4.png" alt=""></div>
        <div class="time time5"><img src="/assets/page5/5.png" alt=""></div>
        <div class="time time6"><img src="/assets/page5/6.png" alt=""></div>
        <div class="line"><img src="/assets/page5/line.png" alt=""></div>
    </div>
    <div class="item3"><img src="/assets/page5/img_03.png" alt=""></div>
    <div class="c"><img src="/assets/page5/c.png" alt=""></div>
    <div class="top"><img src="/assets/page5/top.png" alt=""></div>
</div>