<div class="page-3">
    <div class="item1"><img src="/assets/page3/img_01.png" alt=""></div>
    <div class="item2">
        <img src="/assets/page3/img_02.png" alt="">
        <div class="bd"><img src="/assets/page3/ghhh.png" alt=""></div>
        <div class="line"><img src="/assets/page3/line.png" alt=""></div>
        <div class="time t1"><img src="/assets/page3/t1.png" alt=""></div>
        <div class="time t2"><img src="/assets/page3/t2.png" alt=""></div>
        <div class="time t3"><img src="/assets/page3/t3.png" alt=""></div>
        <div class="time t4"><img src="/assets/page3/t4.png" alt=""></div>
        <div class="time t5"><img src="/assets/page3/t5.png" alt=""></div>
        <div class="time t6"><img src="/assets/page3/t6.png" alt=""></div>
    </div>
    <div class="c"><img src="/assets/page3/ccc.png" alt=""></div>
    <div class="top"><img src="/assets/page3/top.png" alt=""></div>
</div>